/*
=================
	Components
=================
*/
@import 'modules/_macros';
@import 'modules/_mixins';
@import 'modules/_reset';
@import 'modules/_miscelaneous';

/*
=================
	Original content
=================
*/

#sidebar {
	.navbar-logo {
		background: {
			image: url('http://sharehunter.com.br/img/home/aguia.jpg');
			position: center;
			repeat: no-repeat;
		}
		@include size(100%, 160px);
	}
	.root {
    	background: #f7f7ff;
	    position: fixed;
    	z-index: 3;
    	transition: $transition;
    	@include size(300px, 100%);

    	&.-shrink {
    		overflow-x: hidden;
    		transition: $transition;
    		@include size(0px, 100%);
    	}
   	}

   	.child {
   		background: #f7f7ff;
   		position: fixed;
   		font-size: 0;
   		z-index: 2;
   		@include size(300px, 100%);
   	}
	
	.list {
		list-style: none;
		padding: 0 15px;
		
		> li > a {
			display: block;
			color: lighten($primary-color, 15%);
			padding: 10px 15px;

			&:hover { 
				background: #f0f0f7; 
				color: $primary-color; 
			}
			&:hover, &:focus, &:active { text-decoration: none;	}	

			.fa { margin-right: 5px; }			
		}

		.title {
			font-weight: bold;
			padding: 0;
			margin: 10px 0 3px;

			&:first-child { margin-top: 0; }
		}

		&.-navy {
			background: $primary-color;
			display: inline-block;
			padding: 60px 0 0;
			@include size(50px, 100%);

			li > a {
				background: $primary-color;
				text-align: center;
    			&.active, &:hover { 
					color: $secondary-color;
    				box-shadow: inset 4px 0 0 $secondary-color; 
    			}

    			.fa { font-size: 18px; }
			}
		}

		&.-child {
			display: inline-block;
			vertical-align: top;
			margin-top: 60px;
			@include size(250px, 100%);

			> li {
				display: block;
				font-size: 13px;

				> a { 
					padding: 3px 15px 3px 13px; 
					border-left: 2px solid #f7f7ff;

					&:hover { 
						background: transparent;
						border-left: 2px solid #d4d4dd; 
					}
				}
			}
		}

	}
}

#wrapper {
	margin-left: 300px;
}
footer { text-align: center; }