$primary-color: #2d404e;
$secondary-color: #2da8e4;

$background-color: #fff;
$text-color: #334;

$primary-font: 'Helvetica';
$secondary-font: 'Verdana';
$font-size: 14px;

$transition: all 0.2s ease-in-out;