$primary-color: #123456;
$secondary-color: #654321;

$background-color: #fff;
$text-color: #000;

$primary-font: 'Helvetica';
$secondary-font: 'Verdana';
$font-size: 14px;

$transition: all 0.2s ease-in-out;